@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --black: #1b1b1b;
  --nomad-black: #112211;
  --primary: #0b3b2d;
  --secondary: #ced8d5;
  --accent-green: #00ac07;
  --yellow: #ffc23d;
}

html,
body {
  font-family: 'Pretendard';
}

@layer components {
  .review-modal {
    @apply flex h-full w-full flex-col overflow-y-auto bg-white px-16pxr pb-33pxr pt-35pxr tablet:h-[70%] tablet:max-h-[750px] tablet:w-[480px] tablet:rounded-3xl tablet:px-24pxr tablet:pb-41pxr tablet:pt-23pxr pc:h-[70%] pc:w-[480px] pc:max-w-[750px] pc:rounded-3xl pc:px-24pxr pc:pb-41pxr pc:pt-23pxr dark:bg-gray-50;
  }
  .big-button {
    @apply h-42pxr w-138pxr rounded-lg bg-nomad-black px-54pxr py-12pxr text-center align-middle text-md font-medium leading-none text-white tablet:h-48pxr tablet:w-120pxr tablet:px-44pxr tablet:py-14pxr tablet:text-lg tablet:leading-none pc:h-48pxr pc:w-120pxr pc:py-14pxr pc:text-lg pc:leading-none;
  }
  .error-message {
    @apply ml-2 mt-2 text-xs text-red-200;
  }
  .nomad-button-hover {
    @apply border border-nomad-black shadow-[inset_0_0_40px_40px_#112211,0_0_0_0_#112211] transition-all duration-150 ease-in-out hover:bg-[#253342] hover:shadow-[inset_0_0_10px_0_#112211,0_0_10px_4px_#112211] hover:outline-0;
  }
  .white-button-hover {
    @apply border border-nomad-black shadow-[inset_0_0_40px_40px_white,0_0_0_0_white] transition-all duration-150 ease-in-out hover:shadow-[inset_0_0_10px_0_#CED8D5,0_0_10px_4px_#CED8D5] hover:outline-0;
  }
  .green-button-hover {
    @apply rounded-xl border border-primary shadow-[inset_0_0_40px_40px_#0B3B2D,0_0_0_0_#0B3B2D] transition-all duration-150 ease-in-out hover:shadow-[inset_0_0_10px_0_#0B3B2D,0_0_10px_4px_#0B3B2D] hover:outline-0;
  }
  .green-unrounded-button-hover {
    @apply border border-primary shadow-[inset_0_0_40px_40px_#0B3B2D,0_0_0_0_#0B3B2D] transition-all duration-150 ease-in-out hover:shadow-[inset_0_0_10px_0_#0B3B2D,0_0_10px_4px_#0B3B2D] hover:outline-0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 16px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbcbcb;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: #f0f0f0;
  }

  .placehorder::placeholder {
    font-size: 1rem;
    color: #a1a1a1;
  }
}

@layer base {
  .swiper-wrapper {
    @apply relative h-full w-full;
    /* 부모 요소가 relative여야 절대 위치가 제대로 적용됨 */
  }

  /* 페이지네이션 스타일 */
  .swiper-wrapper .swiper-pagination {
    position: absolute;
    bottom: 0; /* 페이지네이션을 하단에 위치시킴 */
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10; /* 페이지네이션이 다른 요소 위에 표시되도록 */
    padding: 10px 0; /* 페이지네이션과 슬라이드 간 간격 조정 */
  }
}
